@charset "UTF-8";

label {
	display: none;
}

.empty {
	display: flex;
	justify-content: center;
	margin: 30px;
	text-align: center;
	color: white;
	background-color: #03a9f4;
	text-align: center;
}

.company__registered-date, .company__campus-date, .company__salary,
	.company__company-name {
	justify-content: center;
}

@media screen and (max-width: 600px) {
	.details__company {
		text-align: left;
	}
	.header__icon {
		display: none;
	}
	.body__left-panel {
		width: 100%;
		position: fixed;
		z-index: 1000;
		transform: translateX(-5000%);
		transition: all 1s;
	}
	.header a.icon {
		display: flex;
		align-self: center;
		justify-content: space-around;
	}
	.body__left-panel.responsive {
		animation-name: "animatetop";
		animation-duration: 0.4s;
	}
	.left-panel__side-nav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.body__left-panel.responsive {
		transform: translateX(0%);
		transition: all 1s;
		text-align: left;
	}
	label {
		display: block;
		font-weight: 600;
	}
	.company__registered-date, .company__campus-date, .company__salary,
		.company__company-name {
		justify-content: flex-start;
	}
}