body {
	margin: 0 auto;
	padding: 0;
}

.fa-print {
	font-size: 20px;
	color: #03a9f4;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
	.header__title {
		font-size: 50px !important;
	}
}

@media only screen and (min-width: 901px) {
	.header__title {
		font-size: 50px !important;
	}
}

.container__header, .container__footer {
	display: flex;
	z-index: 20;
	box-shadow: 0px -2px 10px 2px #8c8c8c;
	background-color: black;
}

.header__icon {
	background-color: white;
}

.header__title {
	display: flex;
	align-items: center;
	font-size: 30px;
	padding: 5px;
	color: black;
}

.header__username {
	display: flex;
	align-items: center;
	color: white;
	font-size: 20px;
	font-family: 'Roboto Slab', san-serif;
	text-transform: uppercase;
}

.container__body {
	font-family: Arial, Helvetica, sans-serif;
	min-height:500px;
	background-color: #d0f0fe;
}

.container__footer {
	flex: 1;
}

.icon {
	display: inline;
	padding-right: 6px;
	border: 2px salmon;
}

.student-profile, .academic-qualification, .student-project,
	.student-certifications, .student-achievements {
	display: flex;
	justify-content: flex-end;
	border: 2px solid white;
	border-radius: 1em;
	border-top-right-radius: 0;
	background-color: white;
}

.academic-qualification {
	margin: 0em;
}

img {
	width: 100%;
	height: auto;
}

.title {
	font-weight: 900;
	width: 30%;
}

.student-profile__details, .project__details, .certifications__details,
	.achievements__details {
	margin-bottom: 20px;
	margin-left: 20px;
}

.academic-qualification {
	margin: 1em;
}

.qualification__details {
	left: 10%;
	right: 10%;
	margin: 10px;
}

.profile__image {
	height: 100px;
}

.student-profile__note {
	color: blue;
	font-size: 15px;
	text-align: center;
}

.profile, .project, .certifications, .achievements {
	justify-content: space-between;
	margin-bottom: 2px;
}

.profile__edit, .project__edit, .certifications__edit,
	.achievements__edit {
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
}

.profile__edit, .project__edit, .certifications__edit,
	.achievements__edit {
	position: relative;
	width: 50px;
	height: 50px;
	top: 0;
}

.profile__edit:after, .project__edit:after, .certifications__edit:after,
	.achievements__edit:after {
	content: ' ';
	position: absolute;
	border-style: solid;
	border-width: 50px 0 0 50px;
	border-color: #0398f4 transparent;
}

.fa-plus {
	font-size: 15px;
	position: absolute;
	padding-top: 5px;
	padding-left: 30px;
	z-index: 1;
}

.fa-edit, .fa-trash {
	font-size: 15px;
	color: #4484;
}

.details--container {
	background-color: #fafafa;
	padding: 12px;
	margin-bottom: 10px;
}

.academic-qualification {
	margin-top: 30px;
}

.project>p, .certifications>p, .profile>p, .qualification__title,
	.achievements>p {
	text-align: left;
	padding: 20px;
}

.header .icon {
	display: none;
}

.academic-qualification-printOnly {
	display: none;
}

@media screen and (max-width: 900px) {
	.header__icon {
		display: none;
	}
	.body__left-panel {
		width: 100%;
		position: fixed;
		z-index: 1000;
		transform: translateX(-150%);
		transition: all 1s;
	}
	.header a.icon {
		display: flex;
		align-self: center;
		justify-content: space-around;
		outline: none;
	}
	.body__left-panel.responsive {
		animation-name: "animatetop";
		animation-duration: 0.4s;
	}
	.left-panel__side-nav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.body__left-panel.responsive {
		transform: translateX(0%);
		transition: all 1s;
		text-align: left;
	}
}

.image {
	padding: 10px;
}

@keyframes animatetop {from { top:-300px;
	opacity: 0
}

to {
	top: 0;
	opacity: 1
}

}
@media only screen and (max-width:600px) {
	.image {
		justify-content: center;
	}
}

a {
	cursor: pointer;
}

.details__container {
	justify-content: center;
	align-self: center;
	flex-direction: column;
	padding: 0em 2em;
	background-color: white;
	border-radius: 1em;
	animation-name: "animatetop";
	animation-duration: 0.4s;
	position: relative;
}

.details__wrapper {
	margin: 0em !important;
	border: none !important;
}

.details__wrapper>label {
	padding: 5px;
	margin-bottom: 2px;
}

.details__input {
	margin-bottom: 5%;
	padding: 10px;
	border: 1px solid #d2d8d8;
	border-radius: 0.25em;
	outline: none;
}

.modal-container {
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(52, 54, 66, .9);
	border-radius: 0.25em;
	z-index: 3;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.button--submit {
	border: none;
	border-radius: 0.25em;
	outline: none;
	padding: 5% 17%;
	margin-top: 5%;
	margin-bottom: 5%;
	box-sizing: content-box;
	color: white;
	cursor: pointer;
	background-color: #2f889a;
}

.close-icon--close {
	display: flex;
	cursor: pointer;
}

.close-icon--close>span {
	border: none;
}

.close-icon--close>i {
	color: grey;
	font-size: 2em;
	margin-top: 10px;
}

.close-icon--close {
	display: flex;
}

.fa-edit:hover, .fa-trash:hover {
	color: #4484ce;
}

.fa-sign-out {
	color: white;
}

.icon {
	display: flex;
	justify-content: flex-end;
}

#button--submit {
	border: none;
	border-radius: 0.25em;
	outline: none;
	padding: 10px;
	margin-top: 5%;
	margin-bottom: 5%;
	box-sizing: content-box;
	color: white;
	cursor: pointer;
	background-color: #2f889a;
}

.profile-container {
	box-sizing: border-box;
	padding: 20px;
}

.errormsg-container {
	display: flex;
	justify-content: center;
}